<a href="https://colab.research.google.com/github/gabriela-pm/BTE-320/blob/main/Assignment_I_InClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

In [ ]:
pi = 3.14
radius = float(input("Enter radius: "))
height = float(input("Enter height:"))

area = (2 * pi * (radius ** 2)) + (2 * pi * radius * height)

print(f"Area of Cylinder: {area} sq. ft")

Enter radius: 5
Enter height:7
Area of Cylinder: 376.8 sq. ft

# Assignment 2

In [ ]:
n1= float(input("Please Provide First Number: "))
n2= float(input("Please Provide Second Number: "))
op= input("Please Provide Operator: (+,-,*,/,//,**,%): ")
if op == "+":
    print(n1+n2)
elif op == "-":
    print(n1-n2)
elif op == "*":
    print(n1*n2)
elif op == "/":
    print(n1/n2)
elif op == "//":
    print(n1//n2)
elif op == "**":
    print(n1**n2)
elif op == "%":
    print(n1%n2)
else:
    print("Invalid Operator")

Please Provide First Number: 5
Please Provide Second Number: 2
Please Provide Operator: (+,-,*,/,//,**,%): +
7.0

# Assignment 3

In [ ]:
for numberHours in range(1,9):
  fee = 5 + 2.5 * numberHours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

# Assignment 4

In [ ]:
print("Ad $\t", "Profit")
for admoney in range(0,201,25):
  revenue = (20 + 2 * round(admoney ** 0.5)) * 10
  costs = 200 + admoney
  profit = revenue - costs
  print(admoney, "\t", profit)

Ad $	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

# Assignment 5

Rock - Paper - Scissors

The classic game of random choice. Write a program in Python that includes two players playing the game. Each player´s cjoice is given from the keyboard.

In [ ]:
play = input("Do you want to play Rock, Paper, Scissors? (yes/no): ")

while play == "Yes":
  p1 = input("Player 1 - Choose between rock/paper/scissors: ")
  p2 = input("Player 2 - Choose between rock/paper/scissors: ")

  if p1 == p2:
    print("It's a draw!")
  elif (p1 == "Rock" and p2 == "Scissors"):
    print("Player 1 wins!")
  elif (p1 == "Scissors" and p2 == "Paper"):
    print("Player 1 wins!")
  elif (p1 == "Paper" and p2 == "Rock"):
    print("Player 1 wins!")
  else:
    print("Player 2 wins!")

  play = input("Do you want to play again? (yes/no): ")
print("Good day...")

Do you want to play Rock, Paper, Scissors? (yes/no): Yes
Player 1 - Choose between rock/paper/scissors: Rock
Player 2 - Choose between rock/paper/scissors: Scissors
Player 1 wins!
Do you want to play again? (yes/no): No
Good day...

# Assignment 6

Given an empty list, design a program that populates the list by repeatedly asking the user for numerical inputs. The process stops when the user gives 0. Finally, the list should be displayed in descending order.

In [ ]:
first = []

while True:
  num = float(input("Give number: "))
  if num == 0.0:
    break
  first.append(num)
first.sort (reverse = True)
first

Give number: 9790
Give number: 898
Give number: 00

[9790.0, 898.0]

# Assignment 7

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
    months [numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
from typing import Counter
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

cntr=0
for num in numbers:
  months [num] = names[cntr]
months

{1: 'Jan',
 2: 'Jan',
 3: 'Jan',
 4: 'Jan',
 5: 'Jan',
 6: 'Jan',
 7: 'Jan',
 8: 'Jan',
 9: 'Jan',
 10: 'Jan',
 11: 'Jan',
 12: 'Jan'}

# Assignment 8

Build a dictionary dynamically

In [ ]:
counts = {}

while len(counts) < 5:
  key = input("Give a string: ")

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] = counts[key] + 1
counts

Give a string: a
Give a string: b
Give a string: c
Give a string: c
Give a string: c
Give a string: c
Give a string: d
Give a string: w

{'a': 1, 'b': 1, 'c': 4, 'd': 1, 'w': 1}

# Assignment 9

In [ ]:
def calcFee(hours):

  fee = 5 + 2.5 * hours

  if fee < 10.0:

    fee = 10.0

  elif fee >= 20.0:

    fee = 20.0

  print(f'Fee: {fee}$')



def main():

  numHours = int(input('Enter number of hours: '))

  calcFee(numHours)



main()

Enter number of hours: 3
Fee: 12.5$

# Assignment 10

In [ ]:
def reverse(s):
  if len(s) <= 1:
    return s
  else:
    #return s[-1] + reverse(s[:-1])
    return reverse(s[1:]) + s[0]
reverse("Hello")

'olleH'

# Assignment 11

In [ ]:
def calcFee(hours):
    fee = 5 + 2.5 * hours

    if fee < 10.0:
        fee = 10.0
    elif fee >= 20.0:
        fee = 20.0

    print(f'Fee: {fee}$')

def main():
    try:
        numHours = int(input('Enter number of hours: '))
        calcFee(numHours)
    except ValueError:
        print("Invalid input. Enter a valid integer.")

main()

Enter number of hours: 5.2
Invalid input. Enter a valid integer.

# Assignment 12

In [ ]:
def getValues(n):
  L = []
  for i in range(n):
    weight = float(input(f"Enter weight: "))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(sum(alist[2:])/ len(alist[2:]))
  except ZeroDivisionError:
    print("List alist is empty or has a length less than 2.")
  except:
    print("Unknown Error")

if __name__ == "__main__":
  try:
    n = int(input("Enter size of list: "))
    alist = getValues(n)
    calcAverage(alist)
  except ValueError:
    print("Invalid input. Enter a valid integer.")

Enter size of list: 2
Enter weight: 1
Enter weight: 5
List alist is empty or has a length less than 2.

# Assignment 13

 1) use the class keyword to define the Greeting class
 2) define an __init__() method with 3 parameters: self, first, last
 3) Add a display() method to display a message like: Hi Donald
 4) Test the class:
 greeting = greeting(‘Donald/Becker‘)
 greeting.display()

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last

  def display(self):
    print(f"Hi {self.first}")


greeting = Greeting('Donald' , 'Becker')
greeting.display()

Hi Donald

# Assignment 14

In [6]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def display(self):
    print(f"Name: {self.name}\nStudent Number: {self.number}")

student = Student("James Bond", "007")
student.display()
student1 = Student("Clark Kent", "333")
student1.display()

Name: James Bond
Student Number: 007
Name: Clark Kent
Student Number: 333

# Assignment 15

In [44]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'Already Enrolled in {course}')

  def get_courses(self):
    return self.courses

s1= Student('Bob', 100)
s2= Student('Alice', 200)
s1.enroll('BTE320')
s2.enroll('BTE320')

print(s1.get_courses())
print(s2.get_courses())

['BTE320']
['BTE320']